{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
   <div style="background-image: url('../static/images/background.png');
   background-size: cover;
   background-position: center;
   height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 60px;">
   
   <h1 style="
      font-size: 4rem;
      color: #FFBD0F;
      border: 4px solid #FAF7F2;
      border-radius: 20px;
      padding: 20px 40px;
      background-color: #FAF7F2;">
      Welcome to DragonDreamer!
    </h1>

   </div>
{% endblock %}