{%extends 'base.html' %}


{% block head %}
    <title>Log In</title>
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}


{% block content %}

<body>
    <div class="login-wrapper" style="background-image: url('../static/images/background2.png');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
      <div class="login-container">
        <h1>Log In</h1>
        
        {% if error %}
          <p>Oops! Looks like you aren't a registered dragon 🐉. <br> {{ error }}</p>
        {% endif %}
  
        <form method="POST" action="{{ url_for('login') }}">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          
          <button type="submit">Log In</button>
        </form>
  
        <br>
        <a href="/">Back to Home</a>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
      </div>
    </div>
  </body>
  
</html>
{% endblock %}